
.wrap-menu{
    /* background-color: gray; */
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 2vw;
    z-index: 999;
    flex-direction: column;
} 
